include file1.jade
include ./file2.jade
include /file3.jade
include /somewhere/file4.jade
include .\file5.jade
include C:\file6.jade
include C:\somewhere\file7.jade

extends file1.jade
extends ./file2.jade
extends /file3.jade
extends /somewhere/file4.jade
extends .\file5.jade
extends C:\file6.jade
extends C:\somewhere\file7.jade
